
body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



 img {
     width: 50px;
     height: 50px;
 }


.topnav {
    background-color: white;
    overflow: hidden;
  }

  .active-link  {
    background-color: #688E26;
    
  }

  .nav-item:hover { background-color: #688E26;;
  }
    


 
